.banner {
    display: block;
    justify-content: space-between;
    margin: 10px 10%;
}

.container {
    margin: 0 auto;
    max-width: 780px;
}

.banner__text {
    width: 100%;
}

.banner .banner__text h1 {
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.banner .banner__text img {
    width: 100px;
    margin: 0 0 -20px -10px;
    padding: 0;
}

.banner .banner__text p {
    font-size: 20px;
    font-weight: 400;
    color: #4A5568;
}

.banner .banner__image img {
    width: 100%;
}

.slide {
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.show {
    opacity: 1;
    transform: translateX(0);
}

.content {
    margin-top: 50px;
    padding: 0 5%;
}

.content .content__1 {
    display: block;
    justify-content: space-between;
    padding: 10px 0;
    margin-bottom: 10px;
}


.content__1--items h2 {
    font-size: 20px;
}

.content__1--items p {
    font-size: 10px;
}

.content__1--items div {
    display: flex;
    justify-content: space-between;
}

.content__1--items div p:nth-child(1) {
    font-size: 10px;
    font-weight: 400;
}

.content__1--items div p:nth-child(2) a {
    font-size: 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: #2D3748;
}

.content__1--items img {
    margin-right: 0;
}

.content__2 {
    display: block;
    width: 100%;
    margin-top: 20px;
}

.content__2--items div {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.content__2--items img {
    width: 100%;
}

.content__2--items div h2 {
    font-size: 10px;
}

.content__2--items p {
    font-size: 10px;
    font-weight: 300;
    padding-right: 50px;

}

.content__2--items div p:nth-child(1) {
    font-size: 10px;
    font-weight: 400;
}

.content__2--items div p:nth-child(2) a {
    font-size: 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: #2D3748;
}

.content__3 {
    display: block;
    margin-top: 30px;
    background: #F7FAFC;
}

.content__3--items {
    width: 100%;
}

.content__3--items:nth-child(1) {
    padding: 0px;
    display: flex;
    align-items: center;
}

.content__3--items img {
    width: 100%;
}

.content__3--items h1 {
    font-size: 20px;
    margin: 0;
}

.content__3--items>div>p {
    padding-right: 60px;
    font-size: 10px;
}

.flex__link {
    display: flex;
    font-size: 10px;
    justify-content: space-between;
}

.flex__link p a {
    color: #000000;
    font-weight: 600;
}

.see_more {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.see_more .btn__primary {
    background-color: #6B46C1;
    font-weight: 700;
    font-size: 10px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
}

@media screen and (min-width:768px) {
    .banner {
        display: flex;
        justify-content: space-between;
        margin: 10px 10%;
    }

    .container {
        margin: 0 auto;
        max-width: 1440px;
    }

    .banner__text {
        width: 50%;
    }

    .banner .banner__text h1 {
        font-size: 60px;
        margin: 0;
    }

    .banner .banner__text img {
        width: 100px;
        margin: 0 0 -15px -10px;
    }

    .banner .banner__text p {
        font-size: 30px;
        font-weight: 400;
        color: #4A5568;
    }

    .banner .banner__image img {
        width: 100%;
    }

    .slide {
        opacity: 0;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }

    .show {
        opacity: 1;
        transform: translateX(0);
    }

    .content {
        margin-top: 50px;
        padding: 0 10%;
    }

    .content .content__1 {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        margin-bottom: 10px;
    }

    .content__1--items {
        width: 45%;
    }

    .content__1--items h2 {
        font-size: 30px;
    }

    .content__1--items p {
        font-size: 14px;
    }

    .content__1--items div {
        display: flex;
        justify-content: space-between;
    }

    .content__1--items div p:nth-child(1) {
        font-size: 14px;
        font-weight: 400;
    }

    .content__1--items div p:nth-child(2) a {
        font-size: 14px;
        font-weight: 700;
        display: flex;
        align-items: center;
        color: #2D3748;
    }

    .content__1--items img {
        margin-right: 0;
        width: 100%;
    }

    .content__2 {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 19px;
        margin-top: 20px;
    }

    .content__2--items div {
        display: flex;
        justify-content: space-between;
    }

    .content__2--items img {
        width: 100%;
    }

    .content__2--items div h2 {
        font-size: 20px;
    }

    .content__2--items p {
        font-size: 14px;
        font-weight: 400;
        padding-right: 50px;

    }

    .content__2--items div p:nth-child(1) {
        font-size: 14px;
        font-weight: 400;
    }

    .content__2--items div p:nth-child(2) a {
        font-size: 14px;
        font-weight: 700;
        display: flex;
        align-items: center;
        color: #2D3748;
    }

    .content__3 {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-top: 30px;
    }

    .content__3--items {
        width: 45%;
    }

    .content__3--items:nth-child(1) {
        padding: 0 0 0 50px;
        display: flex;
        align-items: center;
    }

    .content__3--items img {
        width: 100%;
    }

    .content__3--items h1 {
        font-size: 40px;
        margin: 0;
    }

    .content__3--items>div>p {
        font-size: 16px;
    }

    .flex__link {
        font-size: 16px;
        padding: 0 50px 0 0;
    }

    .flex__link p a {
        color: #000000;
        font-weight: 600;
    }

    .see_more {
        display: flex;
        justify-content: end;
        margin-top: 20px;
    }

    .see_more .btn__primary {
        background-color: #6B46C1;
        font-weight: 700;
        font-size: 16px;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 8px;
    }
}